@tailwind base;
@tailwind components;
@tailwind utilities;

.formModal > div {
    max-height: 90vh;
    overflow-y: auto;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
